
@model MediaDeleteViewModel



<strong> Are you sure you want to delete @Model.Title?</strong>



<form asp-controller="media" asp-action="ConfirmDelete" method="post" asp-route-id="@Model.Id">

    <button class=" btn-dark" type="submit">Yes</button>

</form>

<a asp-controller="media" asp-action="Index">Back to index</a>