@{
    ViewData["Title"] = "Home Page";
}




    <div class="text-center">
        <h1 class="display-4">Media Manager</h1>
        <p>Check out your <a href="media">Media Index</a>.</p>
        <p>Star Test:
        <span class="stars-container stars-70">★★★★★</span></p>
        <p>Star Test: <span class="stars-container stars-30">★★★★★</span></p>
    </div>
