@{
    ViewData["Title"] = "Home Page";
}




    <div class="text-center">
        <h1 class="display-4">Media Manager</h1>
        <p>Check out your <a href="media">Media Index</a>.</p>
    </div>

   
